body { 
    font-size: 100%;
    background: linear-gradient(#000000, #224B83);
    background-attachment: fixed;
}

.header-text {
    color: rgb(63,63,63);
    font-family: Arial;
    font-weight: bold;
}

#wrapper {
    width: 690px;
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
}

.divbox {
    margin: 10px 10px 0px 0px;
    border: 1px solid rgb(170,170,170);
    background-color: rgb(228,235,242);
    padding: 24px;
    width: 639px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#submit-table {
    width: 680px;
    text-align: center;
}

input[type="text"] {
    height: 40px;
    padding-left: 10px;
}

#copied {
    visibility: hidden;
    color: green;
    font-family: Arial;
    font-weight: bold;
    display: inline;
}